.todo_container {
  // animation: 2s optIn 4s cubic-bezier(.22,1.58,.77,1) forwards;
  animation-name: optIn;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.22,1.58,.77,1);
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes optIn {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }100% {
    opacity: 1;
  }
}

.todo_holder {
  padding-left: 10px;
  margin-bottom: 20px;
  border-left: 2px;
  border-style: solid;
  border-right: none;
  border-top: none;
  border-bottom: none;

  h1 {
    color: white;
    margin: 0px;
  }
  p {
    margin: 0px;
    color: var(--gray);
  }
}
