.todo_container {
  // animation: 2s optIn 4s cubic-bezier(.22,1.58,.77,1) forwards;
  animation-name: optIn;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.22,1.58,.77,1);
  animation-fill-mode: forwards;
  opacity: 0;
  border-radius: 8px 0px 0px 8px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: var(--dark_gray);
  }
}


@keyframes optIn {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }100% {
    opacity: 1;
  }
}

.todo_holder {
  border-left: 2px;
  border-style: solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding-left: 10px;

  h1 {
    color: white;
    margin: 0px;
  }
  p {
    margin: 0px;
    color: var(--gray);
  }
}

.finished {
  display: none;
  a {
    color: var(--gray);
    font-size: 30px;
    margin-right: 30px;

    &:hover {
      color: var(--good);
    }
  }

  &:hover {
    display: block;
  }
}

.hover_fix {
  width: 100%;
  padding: 10px;
}

.hover_fix:hover + .finished {
  display: block;
}
